# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.log
*.sqlite3

# Virtual environment
venv/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE / editor
.vscode/
.idea/
*.swp
.DS_Store

# Environment variables / secrets
.env
config/*.json

# Model / cache files
*.pkl
*.joblib

# Backup folder
BACKUP/
